# explicitly list the files needed by docker.
*
!package.json
!yarn.lock
!tsconfig.json
!tsconfig-ext.json
!stubs
!app
!buildtools
!static
!bower_components
!sandbox
!plugins
!test
!ext
!mocha-webdriver-0.2.14.tgz
**/_build
